#acerca_section
	margin 0 1em
	background #e0d3bf
	border-radius 0.6em
	border solid 0.15em gray_
	padding 1em
	margin 2em 1em
	h2
		color black_
		text-align left
	h3
		color black_
		font-weight normal
		text-align left
#acerca_img
	text-align center
	margin 1em
	width 100%