body
	table
		margin 0.5em
	table, td, tr
		background rgba(4, 169, 87, .1)
		border solid 0.1em #333
		padding 0.5em
	th
		background #57a945
		border solid 0.15em black
		padding 0.3em
		span
			color #333