//colors
aquamarin_ = #0081a0
brown_ = #a8974b
black_ = #333
cream_ = #e0d3b0
gray_ = #5f5f5f
green_ = #57a945
red_ = #c42c00
white_ = #feffff
yellow_ = #fbb64a
body 
	background cream_
	font-size 16px
	text-align left
	min-width 320px

article,figure
	display inline-block
	vertical-align top
a
	text-decoration none
	margin 0

h1,h2,h3,figure
	padding 0
	margin 0

header
	background brown_
	border-bottom 3px solid #333
	padding 0.2em
	text-align center
	margin-bottom 3em
	width 100%
nav
	text-align center
	width 100%
	figure
		float left
		margin-left 5em
		//margin-left 10em for mobile
	img
		width 60px
	ul
		text-align center
		margin 1.3em 0		padding 0 
		width 80%
	li
		margin 0 0.75em
		vertical-align middle
		a
			color white_
			font-size 1.3em
		a:hover
			font-weight bold
			color #fff
h2,h3,figure,p,h1
	display inline-block
	vertical-align bottom
h3,h2
	color white_

#header_logo,ul,li
	display inline-block
	vertical-align middle
#header_logo:hover
		border-radius 2em
		border solid 0.2em green_
.green_banner
	background green_
	margin 0
	padding 2.5em 1em
	
#welcome_banner
	h1
		font-size 1.375em
		color yellow_
		margin 0 0.5em

#listen_banner
	h2
		color white_
		text-align center
		vertical-align middle
		margin 0 0.5em
	figure
		height 5.20em
		margin-left 1em
		vertical-align middle
		
#listen_banner:hover
	border solid 0.2em black_


#radio1_banner
	background #f59158
	margin 0
	padding 1em
	
	h3
		font-weight normal
		text-align center
		width 70%
		vertical-align top
		margin-top 2em
		margin-left 1em
		span
			color red_
			font-weight bold
	img
		border solid 0.2em black_

.social_banner
	background gray_
	padding 0.5em
	margin 0.3em 0
	text-align center
	h3
		font-weight normal
		vertical-align middle

		span
			font-size 0.9em
			font-weight normal
			margin-left 10em
	figure
		vertical-align middle
		float right
		margin-right 5em
.social_banner:hover
	border solid 0.2em black_

#radio2_banner
	background gray_
	padding 1em
	span
		color green_
	img
		border solid 0.2em black_
	h3
		font-weight normal
		text-align center
		width 70%
		vertical-align top
		margin-top 1em


#welcome_banner,#listen_banner
	margin-bottom 1em

#radio3_banner
	background gray_
	padding 2em
	margin-top 0.25em
	span
		color green_
	h3
		font-weight normal
		text-align center
		width 70%
		vertical-align top
		margin-top 1em
	img
		width 130px
	figure
		float right

#radio3_banner:hover
	border solid 0.2em black_

.social_banner,#green_banner,.radio_banner,#listen_banner
	border-radius 0.5em
#radio2_banner,#radio1_banner
	border-radius 0em
footer
	margin-top 1.2em

@import "radio.styl"
@import "programas.styl"
@import "acerca.styl"
@import "horarios.styl"
@import "responsive.styl"










