.page_hone
	text-align center
	h1
		color  black_
	h2
		font-weight normal
		color black_

	a
		color blue_
	a:hover
		font-weight bold

#programs_section,.program_item,.program_title,.program_img
	margin 0 
	padding 0
	display inline-block
	vertical-align top

#programs_section
	margin 0 5%
	margin-top 2em
	text-align center
	width 90%
	.program_item
		background green_
		border solid 0.15em gray_
		margin 0.5em
		width 45%
	.program_figure
		float right
		margin 0.3em
		img
			border solid 0.2em gray_

	.program_title
		color black_
		font-weight bold
		margin 1em
	.program_desc
		margin 0.2em
		text-align left
		width 70%
		font-weight normal