
#radio_title
	font-size 1.375em
	color yellow_
	padding 0.3em
	text-align center

#player_container
	text-align center
	h3
		color black_
	span
		color aquamarin_
#chat_container
	text-align center
	margin-top 0.5em
	iframe
		border solid 0.2em aquamarin_

#tweet_display
	text-align center
	margin-top 0.5em
	h3
		color black_
	a 
		color aquamarin_
#tweet_container
	background aquamarin_
	h3,p,a
		display inline-block
		vertical-align top
	
